---
- name: Restart postgresql
  ansible.builtin.systemd:
    name: postgresql
    state: restarted
    daemon_reload: true

- name: Restart postgresql-exporter
  ansible.builtin.systemd:
    name: postgresql-exporter
    state: restarted
    daemon_reload: true

...
